.container{
  display: flex;
  width: 220px;
  height:275px;
  padding: 16px;
  border-radius: 16px;
  background-color: #17113a;
  //clip-path: polygon(0% 0%, 80% 0%, 100% 20%, 100% 100%, 0% 100%);
  filter: drop-shadow(0px 0px 10px #6248f8);
  text-align: left;

}

.graphics{
  display: flex;

    justify-content: space-between;

}

.typec{
  margin: 8px 0;
}

.type{
  border: white 2px solid;
  border-radius: 16px;
  padding: 0 8px;
  display: inline;
  margin: 8px 0;
}



.title{
  font-weight: bold;
  font-size: 1.2em;

  color: #3dd882;
}

.hexagon {
  display: block;
  width:120px;
  height: 120px;
  background-size: cover;
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  -webkit-mask-image: url("../../assets/mask.svg");
  mask-image: url("../../assets/mask.svg");
  border-radius: 24px;
  align-self: end;
}

.content {
  padding: 16px;
  color: #fff;
}

.card{
  width: 100%;
}