.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.slide-in {
  opacity: 0;
  animation: slideIn 4s ease-in-out forwards;
}

.slide-inverse {
  opacity: 0;
  animation: slideInverse 4s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInverse {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
