.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.nav{
  flex-grow: 1;
}

.list {
  display: flex;
  margin-bottom: 0;
}

.list li {
  padding: 10px 30px;
  font-family: clash_display;
  font-size: 16px;
}

.list li a {
  color: white;
}

.list li:hover {
  //text-shadow: 0 0 10px #7834cf, 0 0 20px #7834cf, 0 0 30px #7834cf;
  background: var(--gradient);
  border-radius: 30px;
}


.highlight{
  margin-inline: 20px;
  background: var(--gradient);
  border-radius: 24px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  font-family: "press_start_tp";
}

.highlight:hover{
  transition: all 0.3s ease-in-out;
  filter:  drop-shadow(5px 5px 0 var(--secondary-color)) hue-rotate(5deg) drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.827) );
}

.highlight a {
  color: #FFF !important;
  display: flex !important;
  align-items: center !important;
  padding: 0 8px;
  font-size: 14px;
}

.highlight svg {
  font-weight: bold;
  width: 1em;
  height: 1em;
  margin-right: 10px;
  font-size: 20px;
  color: #FFF;
}

@media screen and (max-width: 1016px) {
  .nav {
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
  }

  .open .nav {
    max-height: 200px;
  }

  .list {
    flex-direction: column;
    align-items: center;
  }

  .list li {
    padding: 10px 0;
  }

  .show {
    display: flex;
  }
}
