.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.nav{
  flex-grow: 1;
}

.list {
  display: flex;
  margin-bottom: 0;
}

.list li {
  padding: 10px 30px;
  font-family: clash_display;
  font-size: 16px;
}

.list li a {
  color: white;
}

.list li:hover {
  //text-shadow: 0 0 10px #7834cf, 0 0 20px #7834cf, 0 0 30px #7834cf;
  background: var(--gradient);
  border-radius: 30px;
}

@media screen and (max-width: 1016px) {
  .nav {
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
  }

  .open .nav {
    max-height: 200px;
  }

  .list {
    flex-direction: column;
    align-items: center;
  }

  .list li {
    padding: 10px 0;
  }

  .show {
    display: flex;
  }
}
