.features-container {
  display: flex;
  justify-content: space-between;
}

.feature {
  width: 30%;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
}

.feature img {
  width: 100%;
  height: auto;
}


@media screen and (max-width: 1016px) {
    .feature{
      display: inline-block;
      text-align: center;
    }
  }