.accordion-button, .accordion-collapse{
    background-color: #080614;
    color: white;
}

.accordion-button:focus{
    background-color: #7834CF;
    color: white;
}

.accordion > * {
    font-family: inter;
}