.MainTitle {
  margin-bottom: 20px;
}

.Main {
  display: flex;
  margin-top: 50px;
}

.MainTitle {
  padding: 0 100px;
  max-width: 700px;
}

.MainTitle h1 span{
  background-image: var(--gradient);
  font-weight: 900;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
}

.MainTitle p {
  font-size: 16px;
  font-family: space_grotesk;
  padding-top: 30px;
}

.Banner {
  padding: 0 100px;
  width: 20%;
  position: relative;
}

.Banner img {
  border-radius: 20px;
  max-width: 120%;
  max-height: 120%;
}

.Banner img {
  position: absolute;
}

.Main h1 {
  font-family: inter;
  font-weight: bold;
  font-size: 67px;
}

.title {
  font-family: inter;
  font-weight: bold;
  margin: 50px 100px;
}

.centered {
  width: 100%;
  margin-block: 100px;
}

.centered h1 {
  text-align: center;
  font-family: inter;
  font-weight: bold;
  font-size: 50px;
}

.centered p {
  max-width: 500px;
  text-align: center;
  font-family: inter;
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.section {
  margin: 100px;
}

.marketplace_button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: var(--blue-gradient);
  font-family: inter;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 25px;
}

.marketplace_button::after {
  content: "";
  width: 193px;
  height: 43px;
  position: absolute;
  background: var(--background);
  border-radius: 25px;
}

.marketplace_button a {
  z-index: 1;
  position: relative;
  color: white;
  text-decoration: none;
}

.marketplace_button:hover::after {
  background: var(--blue-gradient);
}

@media screen and (max-width: 1016px) {
  .Main {
    flex-direction: column-reverse;
    align-items: center;
  }

  .MainTitle {
    padding: 0 50px;
    text-align: center;
  }

  #action_button {
    margin: 0 auto;
  }
  
  .Banner {
    padding: 0 50px;
    width: 100%;
    height: 300px;
    margin-block: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Banner img {
    max-width: 100%;
    max-height: 100%;
    transition: all 0.5s ease;
  }

  .Main h1 {
    font-size: 50px;
  }

  .MainTitle p {
    font-size: 14px;
  }

  .section {
    margin-inline: 0;
  }
}